.containeir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.escolherEmpresa {
    text-align: center;
    font-family: var(--font-family-primary);
    padding: 3rem;
}

.servicosOferecidos {
    display: flex;
    align-items: stretch;
    justify-content: center;
    font-family: var(--font-family-primary);
    gap: 2rem;
}

.titulo{
    font-family: var(--font-family-primary);
    margin-bottom: 3rem;
}

.infraestrutura,
.consultoria,
.suporte {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.foto {
    width: 35%;
    height: 100px;
    object-fit: contain;
    padding-bottom: 2rem;
}

.entrarContato {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 50%;
    padding-top: 3rem;
    font-family: var(--font-family-primary);
}

.imgConvite {
    width: 60%;
}

.buttonComunicacao {
    background-color: var(--azulMedio);
    width: 40%;
    height: 4rem;
    margin: 1rem 10rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--branco);
}