header {
    background-color: var(--azulEscuro);
    color: var(--branco);
    font-family: var(--font-family-primary);
    width: 100%;
    height: 100%;
}

.containerHeader,
.menu ul,
.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu ul,
.logo {
    margin-top: 2rem;
}

ul{
    font-size: 1.5rem;
}

.logoImg {
    height: 5rem;
}

.textoLogo {
    font-size: 2rem;
}

li {
    margin-right: 1rem;
}

.containerMain {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.titulo{
    font-size: 5.5rem;
    margin-left: 10rem;
}

.subTitulo {
    font-size: 1.5rem;
    margin-left: 10rem;
    font-weight: 200;
}

.buttonComunicacao {
    background-color: var(--azulMedio);
    width: 25%;
    height: 4rem;
    margin: 1rem 10rem;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--branco);
}